div#archive-section {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 3%;
    margin-left: 5%;
    margin-bottom: 8%;
}

h1#archive-title {
    text-align: center;
    font-size: 6vw;
    margin-top: 3%;
}

h1.archive-entry-title {
    font-size: 4vw;
    margin-top: -70%;
}

.archive-entry {
  width: 100%;
  margin-top: 75%;
}

.comic-slider-hider {
    overflow: hidden;
    border: 1px solid black;
    padding: 3%;
    margin-top: 4%;
}
.comic-thumbnail {
    height: 40vh;
}
.comic-thumbnail > a > p > img {
    height: auto;
    width: 50vh;
}
.moving-text:hover{
    animation-play-state: paused;
}
@keyframes marquee{
    0%{transform: 0;}
    50%{transform: translateX(100%);}
    100%{transform: 0;}
}
@media (prefers-reduced-motion: no-preference) {
    .moving-text {
        animation: marquee 6s linear infinite;
        overflow: hidden;
    }
}

.comic-thumbnail > img {
    width: 9%;
}
