div#login-content {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-top: 5%;
    padding-bottom: 10%;
}

div.login-panel {
    width: 50%;
    display: inline-block;
    flex: 1;
    border: 3px solid black;
}

div#login-section {
    border-radius: 30px 0px 0px 30px;
    border-right: none;
    background: white;
}
div#login-img {
    border-radius: 0px 30px 30px 0px;
    border: 5px solid black;
    background-image: linear-gradient(to bottom right, #d6e3f4, #efd3f0);
}

h1#login-title {
    font-size: 5vw;
    padding-bottom: 10px;
    text-align: center;
}

img#salutation-img {
    width: 100%;
    height: auto;
    margin-top: -20%;
    margin-bottom: -1%;
}

form#pbmb-login-form {
    padding-top: 5%;
    padding-left: 3%;
}

form#pbmb-login-form > p {
    position: relative;
}

form#pbmb-login-form > p > label {
    font-size: 5vw;
    margin-right: 3%;
}


form#pbmb-login-form > p.login-remember {
    padding-top: 7%;
}
form#pbmb-login-form > p.login-remember > label {
    font-size: 2vw;
}

form#pbmb-login-form > p > input[type=text],
form#pbmb-login-form > p > input[type=password] {
    border-radius: 0px 10000px 10000px 0px;
    border: 2px solid black;
    outline: 3px solid #a9adf0;
    color: black;
    width: 80%;
    height: 10%;
    margin-top: 10%;

    font-size: 250%;
}

form#pbmb-login-form > p > input[type=text]:focus,
form#pbmb-login-form > p > input[type=password]:focus {
    outline: 3px solid #c796fb;
}

form#pbmb-login-form > p.login-submit > input[type=submit] {
    margin-top: 5%;
    background: #bcf4a8;
    width: 30%;
    height: 5%;
    border-radius: 0px 10000px 10000px 0px;
    font-size: 5vw;
    text-align: left;
}
